*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #ffffff;
    height: 140px;
}
header img{height: 160px;padding: 20px 20px 20px 30px;}
header h1{float: right;padding: 40px 100px 20px 40px;color: #2471A3;font-family: verdana;}

nav{background: #5DADE2;height: 60px;}

/* -- MENU DESPLEGABLE --*/
/* MENU HORIZONTAL */
.menu {
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 40px;
	padding-top: 1px;
}

/* Cada item del menu */
.menu > li {
	position: relative;
}

/* Enlaces del menu principal */
.menu > li > a {
	font: 20px Verdana;
	text-decoration: none;
	color: #ffffff;
	padding: 24px;
	display: block;
}

/* Submenu oculto */

.submenu {
	list-style: none;
	position: absolute;
	top: 70px;
	left: 0;
	background: #2471A3;
	display: none;
	min-width: 160px;
	border-radius: 0 0 5px 5px;
}

/* Items del submenu */

.submenu li a {
	display: block;
	padding: 12px;
	color: #fff;
	text-decoration: none;
	font: 16px Verdana;
}

/* Mostrar submenu al pasar el mouse */

.menu li:hover .submenu {
	display: block;
}

/* Hover del submenu */

.submenu li a:hover {
	background: #5DADE2;
}

body{
    background-image: url(3.jpeg);
    color: var(--tex-light-gray);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;

}

.form-main{
    min-height: calc(100vh - 205px);
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  footer{width: 100%;background: #084B8A;}
  footer p{color: #fff; font: 15px Verdana; padding: 30px; text-align: center;}

